.complete {
  text-decoration: line-through;
  opacity: 0.5;
}
.task-items {
  display: flex;
  justify-content: center;
  align-items: center;
}
.task-update form {
  display: flex;
  align-items: center;
  width: 550px;
  margin: auto;
}
.form-container {
  text-align: center;
  padding-top:20%;
}
.form-container form {
  display: flex;
  width: 700px;
  margin: 15px auto;
}
.search-tasks {
  margin-right: 70px;
  display: flex;
  justify-content: flex-end;
}
.search-tasks label {
  margin-right: 15px;
  cursor: pointer;
}
.search-tasks input {
  margin-left: 8px;
}
.App {
  background-image: url(https://i.pinimg.com/originals/91/fc/54/91fc549c130f969b61afa9065ad2132d.gif);
  background-size: cover;
  background-repeat: no-repeat ;
  min-height: 720px;
  padding: auto;
}